.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-electric-orange
  .large-5.columns.path-text.right
    %h3 Electric Orange Creative
    %h4
      %small 2008
    %p Just before the bottom fell out of the economy in the fall of 2008, my buddy Dan Murphy and I decided to work for ourselves. We started an online marketing and web design company called Electric Orange. I designed the logo in Illustrator by copying photos from the web in a pointalist style with my mouse. We didn't know what the hell we were doing, but it was a great experience. I burned out on it and left after a couple of years, but Dan kept it going and it's still his main gig today.
    %a{:href => "http://electricorangecreative.com"} Electric Orange Creative
