.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-high-school
  .large-5.columns.path-text.right
    %h3 High School
    %h4
      %small 2001
    %p Graduated from Tupelo High School in 2001. We won two state championships in soccer, my sophomore and senior years. Played with some of my best friends on those teams. Started at defensive center midfield my sophomore year next to Patrick Montgomery and played outside left midfield my senior year. I was also heavily involved with the chorus and did show choir a couple of years, but that was mainly because my parents made me take a music class of some kind. My fondest memories of high school are of just hanging out with friends and driving around, and playing soccer. I also had a band with Jack Reed, Brian Hall, Adrian Dickey, and Steve Sudduth called The Colonels. Steve went on to have a legit music career and broke out in 2013 when he had a hit he performed on the Grammy's with Rhianna. My friends and I also made a bunch of dumb videos under the name Assface Productions. Tupelo was a pretty good place to grow up.
    %a{:href => "http://www.tupeloschools.com/Domain/19"} Tupelo High School
