.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-high-school
  .large-5.pull-7.columns.path-text.left
    %h3 Tupelo High School
    %h4
      %small 2001
    %p Graduated from Tupelo High School in 2001. We won two state championships in soccer, my sophomore and senior years. Played with some of my best friends on those teams. Started at defensive center midfield my sophomore year next to Patrick Montgomery and played outside left midfield my senior year.
    %a{:href => "http://www.tupeloschools.com/Domain/19"} Tupelo High School
