.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-italy
  .large-5.columns.path-text.right
    %h3 Italy
    %h4
      %small 2004
    %p I spent the spring of my Junior year in Milan, Italy. Our classes were at Universita Catolica at the S. Ambrogio subway stop on the linea verde. It was right around the corner from "The Last Supper". I had the good fortune of being selected to live in a dorm community called the Collegio di Milano at fermata Famagosta, also on the linea verde. It was a community for the smartest college students in Milan from any school. We had a cafeteria, game room, recording studio, and soccer field. There were 7 of us Americans there, shipped in to round out the experience for the Italian students. This was an incredible semester. I saw and ate tremendous things. One of the guys that worked for IES Milan, Massimo who we called Max would invite me over to play Rolling Stones, Bob Dylan, and Beatles covers all the time. I think he liked singing them with a native english speaker. 
    %a{:href => "http://www.iesabroad.org"} IES Milan
