.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-meridian
  .large-5.pull-7.columns.path-text.left
    %h3 Meridian
    %h4
      %small 1983
    %p I was born on June 1, 1983 at Anderson Regional Medical Center in Meridian, MS. My dad says I came online a little after 5pm, and that's still my favorite time of day, dusk. My brother Ben came along 5 years later, and then Sam a couple years after that. I loved being a big brother. We lived at 3222 24th Avenue, just a few houses down from the MHS football stadium. I remember the excitement of Friday night games and running around on the field on Saturday mornings. I would spend a lot of time roaming around the woods behind our backyard or playing at our neighbors' house, The Maples. Our parents were good friends, and we'd have cookouts together. I have a lot of good memories from Meridian. We moved to Tupelo during Christmas break when I was in 5th grade.
    %a{:href => "http://en.wikipedia.org/wiki/Meridian,_Mississippi"} Meridian, MS
