.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-meridian
  .large-5.pull-7.columns.path-text.left
    %h3 Meridian
    %h4
      %small 1983
    %p I was born on June 1, 1983 at Anderson Regional Medical Center in Meridian, MS. My dad says I came online a little after 5pm, and that's still my favorite time of day, dusk. My brother Ben came along 5 years later, and then Sam a couple years after that. I'm so lucky to get to be a big brother. We lived at 3222 24th Avenue, just a few houses down from the MHS football stadium. I remember the excitement of Friday night games and running around on the field on Saturday mornings. I would spend a lot of time roaming around the woods behind our backyard or playing at our neighbors' house, The Maples. Our parents were good friends, and we'd have cookouts together. Their Dad, Phillip, would give me beer when I was around 7 or 8 years old, and he'd watch golf every weekend. One time their son, Dylan, drank paint thinner on our back porch and we had to take him to the hospital to feed him coal and pump his stomach. Ben and Dylan used to love Dwight Yoakam when they were little. One time Ben found a snake in our backyard and put it in the drawer with my underwear. I found it the next morning when I was getting ready for school and I'm still terrified of snakes today. Dad helped us build a fort in the back yard that was pretty sweet. He put a lot of time into that house. They really fixed it up. We had a golden retreiver named Lucy that had a bunch of puppies that would chase me around the yard and tackle me when I was like 4 years old. Dad would drive me to soccer games in his Navy Jeep Cherokee on Saturday mornings and we'd listen to car talk and he'd spill coffee all over the car. I have a lot of good memories from Meridian. We moved to Tupelo during Christmas break when I was in 5th grade.
    %a{:href => "http://en.wikipedia.org/wiki/Meridian,_Mississippi"} Meridian, MS
