.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-nashville
  .large-5.pull-7.columns.path-text.left
    %h3 Nashville
    %h4
      %small 2006
    %p I moved to Nashville and got a house near Hillsboro Village with Zach and Jack. We started a band that we called American Vinyl and recorded an album before we moved out. Our drummer was named Dave. We were 22 and he was 30 at the time, which we thought was really old, but he was a sweet guy. It was a great year. Doug, Chris, and Reed all lived together not far from us. And Gray Camp from Wofford was in town doing research at Vanderbilt. It was a fun, wild year of great music. We played a lot of fun shows at The Basement, our biggest one being the first time The Whigs came to town. It was a different Nashville than today. Zach worked at the Frothy Monkey, just after it opened and Jack, Chris and I held down gigs editing children's curriculum at The United Methodist Publishing House. We'd carpool to work everyday and go to The Station Inn every Monday night to see The Sidemen. Roberts on Broadway was the best bar in town, and it still is today. Saw some great shows at the Ryman, the best being Wilco and John Prine.
    %a{:href => "https://myspace.com/americanvinyl"} American Vinyl
