.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-nyc
  .large-5.columns.path-text.right
    %h3 New York City
    %h4
      %small 2006
    %p I moved to New York city on September 2 or 3rd of 2006. My friend Joey wanted to get me up there so he found an apartment that we could sublet together in the LES on Essex between Rivington and Stanton. We only stayed there for three months. It was a shithole. We lived above a little Indian restaurant and we had a rat living with us there for a little bit. I came home after visiting for Tupelo during Thanksgiving to find that he had eaten through a bag of rat poison under the sink and. I got a job as the first employee of one of the first social media marketing companies ever. It was called Buddylube, and then later renamed to YouCast. It was interesting work and I got to be a part of the VC fundraising process and go to a lot of conferences during the Web 2.0 era. The crowning acheivement was when me an Dan Murphy organized a party at SXSW and convinced a bunch of our clients to sponsor it. We had AA Bondy, Frightened Rabbit, The Virgins, and some other bands play. I started a band with Joey called Sally Head. This was a good time to be on the music scene in New York, and I was in the middle of all of it. Used to love the early days of Glasslands. Glad to have spent 5 years during my 20s in New York.
    %a{:href => "http://originalfuzz.com"} Original Fuzz
