.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-original-fuzz
  .large-5.columns.path-text.right
    %h3 Original Fuzz
    %h4
      %small 2013
    %p In August of 2013 Original Fuzz was accepted into the KYN startup accelerator in Downtown Jacksonville. We used this as an excuse to go full-time on our dream. We've been at it ever since and you can now find our guitar straps in over 55 stores in the US and Japan. We've launched guitar straps, gear bags, and cables, but so far our handwoven Peruvian guitar straps have been our runaway hit.
    %a{:href => "http://originalfuzz.com"} Original Fuzz
