.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-sally-head
  .large-5.pull-7.columns.path-text.left
    %h3 Sally Head
    %h4
      %small 2007
    %p Joey and started jamming in our Williamsburg apartment with a Pearl drum kit that we bought off a recording studio near Academy Records on N. 6th that was closing down. The neighborhood was already changing and it was probably making room for an American Apparel or somethign. I'm sure we were bothering the neighbors, so we eventually started setting up our instruments on the roof of our building on weekends. We wrote a few songs and went and played an open mic night at Pete's Candy Store. It was a disaster, so we went in on a shared practice space with our buddies in Right on Dynamite and starting rehearsing more. We had a good run of it, and went through a lot of bass players. At one point we did a tour down to New Orleans, up through Mississippi, then to Nashville, Athens, and finally Charleston. The Charleston show was with Zach and Matt Welch's band The Monster. We had a different bass player at each stop, most notably Hank Sullivant from The Whigs &amp; MGMT. We finally found a permanent bass player with Nelson Nuñez and recorded some songs straight to tape on a Neve board at Nelson's recording school on 34th street and 6th Ave. Still really proud of those songs. Shortly thereafter we burned out and Nelson went on to form The Finks.
    %a{:href => "https://myspace.com/sallyheadmusic"} Sally Head
