.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-soccer
  .large-5.columns.path-text.right
    %h3 Soccer
    %h4
      %small 2002
    %p My soccer obsession started in Meridian with my Under-6 team the Kitty Kats. Dad was our coach and he had no business coaching soccer, but it's not like it mattered. For some reason I heard kids at school talking about it and decided I needed a ball so I
    %a{:href => "http://www.jacksonfc.com"} Jackson FC
