.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-soccer
  .large-5.pull-7.columns.path-text.left
    %h3 Soccer
    %h4
      %small 2002
    %p My soccer obsession started in Meridian with my Under-6 team the Kitty Kats. Dad was our coach and he had no business coaching soccer, but it's not like it mattered. For some reason I heard kids at school talking about it and decided I needed a ball so I got all the pennies out of dad's change jar and counted them so that I could buy a soccer ball. That was just the beginning. My parents took me all over the southeast to soccer tournaments. In high school I ended up playing club soccer in Jackson and my dad would fly me down in his Cesna 172 for practice on Thursday nights or my mom would drive me down the Natchez trace in the suburban. I can't thank them enough for all the sacrifices they made for me to play soccer. Highlights include making it to DI college ball at Wofford and playing against Oguchi Onyewu and Clint Dempsey, advancing to the quarterfinals of the Tampa Bay Sun Bowl our senior year with JFC, winning two state champsionships at Tupelo High School (and scoring two goals in an overtime playoff game my senior year), Dallas Cup, ODP camps with Justin Mapp, and getting selected by our Coach Anton to win a scholarship at JFC. I learned a lot from my years playing soccer, and still love the sport dearly.
    %a{:href => "http://www.jacksonfc.com"} Jackson FC
