.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-south-africa
  .large-5.pull-7.columns.path-text.left
    %h3 South Africa
    %h4
      %small 2010
    %p I took three weeks to go to the World Cup in South Africa in June of 2010. We saw the first three games that the US played, including a dramatic last-minute goal by Landon Donovan that put us through to the next round. Andy and I played club soccer together at JFC in high school and our coach, Anton McEwan, was South African. He played professionally over there and came over to the US during the height of apartheid unrest in the early 90s. We always wanted to visit after hearing his stories of the surfing and safaris. This trip came at a good time for me. It was a much-needed, magical break. I would love to go to another World Cup.
    %a{:href => "http://en.wikipedia.org/wiki/2010_FIFA_World_Cup"} 2010 World Cup
