.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-tampa
  .large-5.pull-7.columns.path-text.left
    %h3 Tampa
    %h4
      %small 2014
    %p I'm going to be starting a new chapter this fall. My girlfriend, Ariana, has another year of grad school at USF, so I'm heading down there! I've been back in my hometown of Tupelo, MS since Christmas, and it's been good to be close to my parents and family, but I'm excited about this new chapter. We'll see what happens next.
    %a{:href => "http://en.wikipedia.org/wiki/Tampa,_Florida"} Tampa, FL
