.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-finks
  .large-5.columns.path-text.right
    %h3 The Finks
    %h4
      %small 2012
    %p After taking a break from playing music for a little while I started jamming with my buddies Nelson and Jon Molina. Nelson had played bass with me and Joey in Sally Head. After that ended he started writing his own songs that become the basis for The Finks. I'm really proud of my bass playing on these songs, and we played a lot cool shows in brooklyn. The Finks were really the main thing I did not want to leave behind in Brooklyn.
    %a{:href => "https://www.facebook.com/finksBK"} The Finks
