.row.path-item
  .large-7.columns
    .circle.circle-right.right#event-tupelo
  .large-5.columns.path-text.right
    %h3 Tupelo
    %h4
      %small 1992
    %p We moved to Tupelo during Christmas break when I was in 5th grade. I was excited by the change. I always have been excited by new experiences and new places. I ended having a great time. Our neighborhood, Highland Circle, was truly All American. We had a gang of boys running around all the time. Biking everywhere. We had a thing called The Daredevil Club. Everyone in the neighborhood was a member. If any member did something daring, like jump off a neighbor's roof, everyone else in the club had to do it to stay in. I met some of my best friends during this period, Jack, Kyle, Wilson, Griff, and Reed. That was the core group. It was a good place to grow up.
    %a{:href => "http://www.tupeloschools.com/Domain/19"} Tupelo High School
