.row.path-item
  .large-7.push-5.columns
    .circle.circle-left#event-wofford
  .large-5.pull-7.columns.path-text.left
    %h3 Wofford
    %h4
      %small 2001
    %p I coldn't have chosen a better place to go to school. Met some of my best friends in the world. Got a great education. I studied English and Art History. Graduated summa cum laude and got selected to represent the English department on the Presidential seminar my senior year. Started off playing soccer, and I made it through my sophomore year, but we had a coaching change before that season and it was just not good experience playing for the new guy. It wasn't fun anymore so I moved on. My Freshman year I got to play against Oguchi Onyewu at Clemson, and Ricardo Clark and Clint Dempsey at Furman. All three of those guys would go on to start for the US against England in the 2010 World Cup. Wofford also had a great thing called "Interim" where they required us to take some sort of alternative class during the month of January. My freshman year I took a Jazz improv class, sophomore year I went with some friends to Tim Mittman's hometown in Germany and filmed a documentary, Junior year I studied abroad in Milan, Italy, and senior year I did an internship in Washington, DC. Wofford is a great place.
    %a{:href => "http://wofford.edu"} Wofford College
