%header
  %section.featured-photo{style:"background: #fff url(#{asset_path('home/music-man.jpg')}) right bottom no-repeat; background-size: cover;"}
    .row
      .large-12.columns
        %h1 Look out honey 'cause I'm using technology.