- provide(:title, 'Music')

%section.year
  .row
    .article
      .large-8.columns
        .article
          %h2 The Marlin Account
          %h3 American Vinyl
          %h4 2006
          %p Recorded on Marlin Ave in Nashville, TN in the Spring of 2006. Produced by American Vinyl with Nathan Roland. Engineering by Nathan Roland. American Vinyl is Dave Formosa on drums, Zach Lever on Guitar, Jack Reed on Guitar, and Lee McAlilly on Bass.
          %h5 Tracks
          %ol
            %li
              =link_to("Sharpen Your Pencils", audio_path("american-vinyl/marlin-account/01-Sharpen-Your-Pencils.m4a"))
              %br
              =audio_tag("american-vinyl/marlin-account/01-Sharpen-Your-Pencils.m4a", controls: true)
      .large-4.columns
        %p album art here
        %p
          =link_to("#", :class => "button") do
            Download
            %i.fa.fa-cloud-download
