- provide(:title, 'Resume')

%header
  .row
    .large-12.columns
      %h1 Lee McAlilly
      
%section.experience
  .row
    .large-12.columns
      %h2 Experience
      %h3 Original Fuzz =small 2013 to present
      %p 2013 to present
      %p Co-founder of music products manufacturer.

%section.education
  .row
    .large-12.columns
      %h2 Education
      %h3 Wofford College
      %p 2005, summa cum laude in English