- provide(:title, 'Resume')

%header
  .row
    .large-8.columns
      %p Lee McAlilly is an entrepreneur, web developer, and musician. His latest endeavor is making high-quality products for musicians as Co-Founder of Original Fuzz. He enjoys recording and performing music with drums, bass and guitar, making websites, and creating music videos. Get in touch if there's a way you think we could work together.
      
%section.experience
  .row
    .large-8.columns
      %h1 Experience
      .article      
        %h2 Original Fuzz
        %h3 Co-founder, 2013 to present
        %p Co-founder of music products manufacturer. Original Fuzz makes high-quality gear for guitar players. Their flagship product, a handwoven Peruvian guitar strap, has been featured in Vintage Guitar Magazine and on the backs of pros like Built to Spill, Kurt Vile, Frightened Rabbit, and more. Original Fuzz was a member of the inaugural class of the KYN startup accelerator in downtown Jacksonville. As a part of the program they received a seed investment from Jacksonville Jaguars owner Shad Khan. Find out more at OriginalFuzz.com.
      .article
        %h2 Wingard Creative
        %h3 Lead Developer, 2012-2013
        %p As lead developer at Wingard Creative Lee was involved with project management and coding. He worked directly with each client and a team of designers through concept . During this tenure he built many websites with

%section.education
  .row
    .large-12.columns
      %h1 Education
      .article      
        %h2 Wofford College
        %h3 Summa cum Laude in English, 2005
        %p blurb about wofford