- provide(:title, 'Timeline')

.path-container
  .row.path-item
    .large-7.push-5.columns
      .circle.circle-left
    .large-5.pull-7.columns.path-text.left
      %h3 Original Fuzz
      %h4
        %small 2013
      %p In August of 2013 Original Fuzz was accepted into the KYN startup accelerator in Downtown Jacksonville. We used this as an excuse to go full-time on our dream. We've been at it ever since and you can now find our guitar straps in over 55 stores in the US and Japan. We've launched guitar straps, gear bags, and cables, but so far our handwoven Peruvian guitar straps have been our runaway hit.
      %a{:href => "http://originalfuzz.com"} Original Fuzz &raquo;
  .row.path-item
    .large-7.columns
      .circle.circle-right.right
    .large-5.columns.path-text.right
      %h3 Jacksonville
      %h4
        %small 2012
      %p I moved to Jacksonville because I was ready to get out of NYC and back down in the South. It was supposed to be temporary, but ended up lasting two years. Zach and I had started working on what would become Original Fuzz and we needed to be in the same place to germinate that idea, so I moved into his apartment in Riverside. At first I was still working for The CFO Alliance, my last employer in NYC. They allowed me to continue working remotely down there. I eventually quit that job and worked at my first true design agency, Wingard Creative. Highlights in Jacksonville included riding my bike everywhere, purchasing my 1994 Ford F-150 for $1,200, Bold Bean coffee, surfing (I was in the water with two sharks the summer of 2012), halloween shows with Baby Sweat, jamming at the bloodpit, Dylan Fest, One Spark, and meeting Ariana.
      %a{:href => "http://en.wikipedia.org/wiki/Jacksonville,_Florida"} Jacksonville, FL &raquo;
  .row.path-item
    .large-7.push-5.columns
      .circle.circle-left
    .large-5.pull-7.columns.path-text.left
      %h3 The Finks
      %h4
        %small 2012
      %p After taking a break from playing music for a little while I started jamming with my buddies Nelson and Jon Molina. Nelson had played bass with me and Joey in Sally Head. After that ended he started writing his own songs that become the basis for The Finks. I'm really proud of my bass playing on these songs, and we played a lot cool shows in brooklyn. The Finks were really the main thing I did not want to leave behind in Brooklyn.
      %a{:href => "https://www.facebook.com/finksBK"} The Finks &raquo;
  .row.path-item
    .large-7.columns
      .circle.circle-right.right
    .large-5.columns.path-text.right
      %h3 Electric Orange Creative
      %h4
        %small 2008
      %p Just before the bottom fell out of the economy in the Fall of 2008, my buddy Dan Murphy and I decided to work for ourselves. We started an online marketing and web design company called Electric Orange. We didn't know what we were doing when we started, and it was scary, but it was a great experience. I burned out on it and left after a couple of years, but Dan kept it going and it's still his main gig today.
      %a{:href => "http://electricorangecreative.com"} Electric Orange Creative &raquo;
  %span.line.hide-for-small
